<!--The content below is only a placeholder and can be replaced.-->

<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
      <h2>Add a Link</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">Title:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" #newTitle name="sku"
               [formControl]="myForm.controls['sku']">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Link:</label>
        <input type="text" class="form-control" id="exampleInputPassword1" #newLink>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<app-article *ngFor="let article of sortArticles()" [article]="article"></app-article>
